* {
	font-family: 'Nunito', sans-serif !important;
}

:root {
	--ion-color-primary: #292826;
	--ion-color-primary-rgb: 41, 40, 38;
	--ion-color-primary-contrast: #FFF;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #292826;
	--ion-color-primary-tint: #3E3E3C;
	
	--ion-color-secondary: #F9D342;
	--ion-color-secondary-rgb: 249, 211, 66;
	--ion-color-secondary-contrast: #000;
	--ion-color-secondary-contrast-rgb: 0, 0, 0;
	--ion-color-secondary-shade: #DBBA3A;
	--ion-color-secondary-tint: #FAD755;
	
	--ion-color-tertiary: #30BCED;
	--ion-color-tertiary-rgb: 48, 188, 237;
	--ion-color-tertiary-contrast: #000;
	--ion-color-tertiary-contrast-rgb: 0, 0, 0;
	--ion-color-tertiary-shade: #2AA5D1;
	--ion-color-tertiary-tint: #45C3EF;
	
	--ion-color-success: #2DD36F;
	--ion-color-success-rgb: 45, 211, 111;
	--ion-color-success-contrast: #000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #28BA62;
	--ion-color-success-tint: #42D77D;
	
	--ion-color-warning: #FFC409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #E0AC08;
	--ion-color-warning-tint: #FFCA22;
	
	--ion-color-danger: #EB445A;
	--ion-color-danger-rgb: 235, 68, 90;
	--ion-color-danger-contrast: #FFF;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #CF3C4F;
	--ion-color-danger-tint: #ED576B;
	
	--ion-color-medium: #EFEFEF;
	--ion-color-medium-rgb: 239, 239, 239;
	--ion-color-medium-contrast: #000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #D2D2D2;
	--ion-color-medium-tint: #F1F1F1;
	
	--ion-color-light: #FFFAFF;
	--ion-color-light-rgb: 255, 250, 255;
	--ion-color-light-contrast: #000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #E0DCE0;
	--ion-color-light-tint: #FFFBFF;
	
}
